.color--one {
  --clr-accent: #f44336;
  --clr-accent-clmp: #b71c1c;
  --clr-accent-fade: #ffcdd2;
}

.color--two {
  --clr-accent: #2196F3;
  --clr-accent-clmp: #0D47A1;
  --clr-accent-fade: #BBDEFB;
}

.color--three {
  --clr-accent: #009688;
  --clr-accent-clmp: #004D40;
  --clr-accent-fade: #B2DFDB;
}

.color--four {
  --clr-accent: #FFC107;
  --clr-accent-text: #333;
  --clr-accent-clmp: #FF6F00;
  --clr-accent-fade: #FFECB3;
}