.fonts--one {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'PT Sans', sans-serif;
}

.fonts--two {
  --ff-primary: 'Open Sans', sans-serif;
  --ff-secondary: 'Oswald', sans-serif;
}

.fonts--three {
  --ff-primary: 'Lato', sans-serif;
  --ff-secondary: 'Raleway', sans-serif;
}

.fonts--four {
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Muli', sans-serif;
}

.fonts--five {
  --ff-primary: 'Noto Sans', sans-serif;
  --ff-secondary: 'Lora', serif;
}